In [1]:
import pandas as pd

a = pd.read_csv('0828_1hz.csv')
a

                          Time         x         y         z
0      2023.08.28 01:20:09.446 -0.007947 -0.006819 -0.007171
1      2023.08.28 01:20:10.444 -0.007962 -0.006925 -0.007227
2      2023.08.28 01:20:11.450 -0.007944 -0.006814 -0.007200
3      2023.08.28 01:20:12.452 -0.008017 -0.006852 -0.007244
4      2023.08.28 01:20:13.442 -0.007992 -0.006908 -0.007241
...                        ...       ...       ...       ...
88522  2023.08.29 01:53:31.131 -0.007976 -0.006834 -0.001624
88523  2023.08.29 01:53:32.134 -0.007836 -0.007055 -0.011875
88524  2023.08.29 01:53:33.124 -0.008005 -0.007104 -0.004726
88525  2023.08.29 01:53:34.122 -0.007799 -0.007007 -0.009391
88526  2023.08.29 01:53:35.128 -0.007388 -0.007317 -0.015443

[88527 rows x 4 columns]

In [2]:
a["Time"] = pd.to_datetime(a["Time"])
a["Time"] = a["Time"].dt.strftime("%Y.%m.%d %H:%M:%S")

print(a)

                      Time         x         y         z
0      2023.08.28 01:20:09 -0.007947 -0.006819 -0.007171
1      2023.08.28 01:20:10 -0.007962 -0.006925 -0.007227
2      2023.08.28 01:20:11 -0.007944 -0.006814 -0.007200
3      2023.08.28 01:20:12 -0.008017 -0.006852 -0.007244
4      2023.08.28 01:20:13 -0.007992 -0.006908 -0.007241
...                    ...       ...       ...       ...
88522  2023.08.29 01:53:31 -0.007976 -0.006834 -0.001624
88523  2023.08.29 01:53:32 -0.007836 -0.007055 -0.011875
88524  2023.08.29 01:53:33 -0.008005 -0.007104 -0.004726
88525  2023.08.29 01:53:34 -0.007799 -0.007007 -0.009391
88526  2023.08.29 01:53:35 -0.007388 -0.007317 -0.015443

[88527 rows x 4 columns]

In [3]:
output_file = '0828_aaa.csv'
a.to_csv(output_file, index=False)